In [2]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd

import seaborn as sns
sns.set_theme(style='darkgrid')

import sklearn.metrics
from sklearn.model_selection import (
    train_test_split,
    StratifiedKFold,
    RandomizedSearchCV,
    cross_val_score
)
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import (
    AdaBoostClassifier,
    GradientBoostingClassifier,
    RandomForestClassifier,
    BaggingClassifier,
)
from xgboost import XGBClassifier

import statsmodels.stats.api as sms
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm
from statsmodels.tools.tools import add_constant

from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler

import warnings

warnings.filterwarnings("ignore")

In [3]:
#import data into pandas dataframe and copy
raw_data = pd.read_csv('Loan_Delinquent_Dataset.csv')
data     = raw_data.copy(deep=True)

In [4]:
data.head()

   ID  isDelinquent       term  gender purpose home_ownership    age     FICO
0   1             1  36 months  Female   House       Mortgage    >25  300-500
1   2             0  36 months  Female   House           Rent  20-25     >500
2   3             1  36 months  Female   House           Rent    >25  300-500
3   4             1  36 months  Female     Car       Mortgage    >25  300-500
4   5             1  36 months  Female   House           Rent    >25  300-500

In [5]:
data.describe(include='all')

,ID,isDelinquent,term,gender,purpose,home_ownership,age,FICO
count,11548.000000,11548.000000,11548,11548,11548,11548,11548,11548
unique,NaN,NaN,2,2,7,3,2,2
top,NaN,NaN,36 months,Male,House,Mortgage,20-25,300-500
freq,NaN,NaN,10589,6555,6892,5461,5888,6370
mean,5774.500000,0.668601,NaN,NaN,NaN,NaN,NaN,NaN
std,3333.764789,0.470737,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,2887.750000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,5774.500000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,8661.250000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,11548.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#check for duplicate values
data.duplicated().sum()

0

In [10]:
#check for missing values
data.isnull().sum()

ID                0
isDelinquent      0
term              0
gender            0
purpose           0
home_ownership    0
age               0
FICO              0
dtype: int64